.char-found,
.char-missed {
    position: fixed;
    left: 50%;
    bottom: 1%;
    font-size: 2rem;
    font-weight: bold;
    padding: 5px 20px;
    border-radius: 10px;
    color: var(--header-bg-color);
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes move {
  0% {
    transform: translateX(-50%);
  }
  50% {
    transform: translateX(-50%);
    opacity: 1;
  }
  100% {
    transform: translateX(-200%);
    opacity: 0;
  }
}

.char-found {
    background-color: #3EA368;
}

.char-missed {
    background-color: #99240A;
}

@media screen and (max-width: 600px) {
  .char-found,
  .char-missed {
      font-size: 1rem;    
  }
}