.click-box {
    position: absolute;
    border-radius: 50%; 
    animation-name: fade;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}