.game-image {
    margin: auto;
    display: block;
}

.game {
    border-radius: 5%;
    box-shadow: 0px 0px 0.2rem var(--header-bg-color);
}

@media screen and (max-width: 1200px) {
    .game {
        height: 100%;
        width: 100%;    
    }
}