table {
    border-collapse: collapse;
    border: 2px solid #0C463E;
    font-family: sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1px;
    width: 75vw;
  }
  
  caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
  }
  
  thead,
  tfoot {
    background-color: #136F63;
  }
  
  th,
  td {
    border: 1px solid #0C463E;
    padding: 8px 10px;
  }
  
  td:last-of-type {
    text-align: center;
  }
  
  tbody > tr:nth-of-type(even) {
    background-color: #136F63;
  }
  
  tfoot th {
    text-align: right;
  }
  
  tfoot td {
    font-weight: bold;
  }
  